*{
    margin:0;
    padding:0;
    font-family: 'Poppins', sans-serif;
}
.header{
    min-height:100vh;
    width:100%;
    background-image: linear-gradient(rgba(4, 9, 30, 0.7),rgba(4, 9, 30, 0.7)),url(/bg.jpg);
    background-position: center;
    background-size: cover;
}
nav{
    display:flex;
    padding:2% 6%;
    justify-content: space-between;
    align-items:center;
}
.nav-links{
    flex:1;
    text-align: right;
}
.nav-links ul li{
    list-style: none;
    display: inline-block;
    padding:8px 12px;
    position: relative;
}
.nav-links ul li a{
    color: aliceblue;
    text-decoration: none;
}
.nav-links ul li::after{
    content:'';
    width:0%;
    height:2px;
    background-color: chocolate;
    display:block;
    margin:auto;
    transition: 0.3s;
}
.nav-links ul li:hover::after{
    width:100%
}
.text-box{
    width:100%;
    color:#fff;
    position: absolute;
    top:50%;
    left:50%;
    transform: translate(-50%,-50%);
    text-align: center;
}
.text-box h3{
    font-size: 45px;
}
.text-box p{
    margin: 10px 0 40px;
    font-size: 15px;
}
.btn{
    display: inline-block;
    text-decoration: none;
    color:#fff;
    border:1px solid #fff;
    padding:13px 35px;
    font-size: 14px;
    background: transparent;
    position: relative;
    cursor:pointer;
}
.btn:hover{
    border:1px solid #f44848;
    background: #f44848;
    transition: 0.3s;
}
nav .fa{
    display: none;
}
@media(max-width:700px){
    .text-box h3{
        font-size: 20px;
    }
    .nav-links{
        position: absolute;
        background:#f44848;
        height:100vh;
        width:200px;
        top:0;
        right:-200px;
        text-align:left;
        z-index:2;
        transition: 0.5s;
    }
    .nav-links ul li{
        display: block;
    }
    nav .fa{
        
        display:block;
        color:#fff;
        margin:10 px;
        font-size:22px;
        cursor:pointer;
    }
}
.course{
    width:80%;
    margin: auto;
    text-align:center;
    padding-top: 80px;
}
h1{
    font-size: 35px;
    font-weight: 500;
}
.row{
    margin-top:5%;
    display:flex;
    justify-content: space-between;
}
.course-col{
    flex-basis: 31%;
    background: #eadada;
    border-radius: 10px;
    margin-bottom: 5%;
    padding:20px 12px;
    box-sizing: border-box;
}
.course-col:hover{
    box-shadow: 0 0 20px 0px rgba(0,0,0,0.3);
    transition:0.3s;
}
@media(max-width:700px){
    .row{
        flex-direction: column;
    }
}
.facilities-col{
    flex-basis:30% ;
    border-radius: 10px;
    margin-bottom: 30px;
    position:relative;
    overflow:hidden;
 
}
.facilities-col img{
    width:100%;

}
.facilities{
    text-align:center;
}
.cont{
    margin:100px auto;
    width:80%;
    background-image: linear-gradient(rgba(0,0,0,0.7),rgba(0,0,0,0.7)),url(cont.jpg);
    background-position: center;
    background-size: cover;
    border-radius: 10px;
    text-align: center;
    padding:100px 0;
}
.cont h1{
    color:#fff;
}
.footer{
    width:100%;
    text-align:center;
    padding:30px 0;
    background-color: cadetblue;
}
.social{
     list-style: none;
     display: flex;
     align-items: center;
     justify-content: center;
}
.social li{
    margin:0 10px;
}
.social a:hover{
    color:#0f0f0f;
    transition:0.3s;
}
.sub-header{
    height:50vh;
    width:100%;
    background-image: linear-gradient(rgba(4,9,30,0.7),rgba(4,9,30,0.7)),url(/bg.jpg);
    background-position: center;
    background-size: cover;
    text-align: center;
    color:#eadada;
}

   
.locate{
    width:80%;
    margin:auto;
    padding: 80px 0;
}
.locate iframe{

    width:100%;
}
.contactus{
    width:80%;
    margin:auto;
}
.contact-col{
    flex-basis: 48%;
    margin-bottom:30px;
}
.contact-col div{
    display: flex;
    align-items: center;
    margin-bottom: 40px;
}
.p{
    flex:content;
}
